exam-concordance.tex
exam-grades.R
exam-output-concordance.tex
exam-output.Rnw
exam-output.log
exam-output.pdf
exam-output.synctex.gz
exam-output.tex
exam.Rnw
exam.log
exam.pdf
exam.synctex.gz
exam.tex
figure
grades
homework6-key.Rmd
homework6-key.html
homework7-key.Rmd
homework8-key.Rmd
homework8-key.html
practice-exam-concordance.tex
practice-exam.log
practice-exam.pdf
practice-exam.synctex.gz
practice-exam.tex
project_gradesheet.log
project_gradesheet.pdf
project_gradesheet.synctex.gz
project_presentation.aux
project_presentation.log
project_presentation.synctex.gz
project_proposal.log
project_proposal.synctex.gz
project_report.aux
project_report.log
project_report.synctex.gz
speed.png
tech-reports
