ps1_key-concordance.tex
ps1_key.Rnw
ps1_key.log
ps1_key.pdf
ps1_key.synctex.gz
ps1_key.tex
ps2_key-concordance.tex
ps2_key.Rnw
ps2_key.pdf
ps2_key.tex
ps3-concordance.tex
ps3-key-concordance.tex
ps3-key.tex
